html {
  font-family: helvetica neue;
  font-size: 20px;
  text-align: center;
  background-color: #5d5a68;
}

/* Background color for calculator */
#calcBlock {
  background-color: #666666;
  padding: 10px;
  width: 370px;
  margin: 10px;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-left-color: black;
  border-bottom-color: black;
  border-right-color: white;
  border-top-color: white;
  box-shadow: -3px 3px 3px #2f2e38;
}

#displayBlock {
  width: 350px;
  margin: 10px;
}

#buttonsBlock {
  width: 350px;
  margin: 10px;
  margin-bottom: 0px;
}

/* Display box */
.display, .message {
  background-color: #fdfaff;
  padding: 10px;
  text-align: right;
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-color: black;
}

/* Display message */
.message {
  font-size: 18px;
  color: #757575;
  padding: 2px;
  border-width: 0px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #e3e3e3;
}

.button, #clear, #getBalance, #deposit, #withdraw {
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-left-color: black;
  border-bottom-color: black;
  border-right-color: #efeeee;
  border-top-color: #efeeee;

  color: #000000;
  background-color: #ebebeb;
  padding: 10px 10px 10px 10px;
  height: 100%;
  text-decoration: none;
  cursor:pointer;
}

.button:hover, .operation:hover, #clear:hover, #getBalance:hover, #deposit:hover, #withdraw:hover {
  background-color: #c4c4c4;
}

<<<<<<< HEAD
.button:active, .operation:active, #clear:active, #getBalance:active, #deposit:active, #withdraw:active {
  /*box-shadow: 0 -5px #666;
  transform: translateY(5px);*/
  border-left-color: #ebebeb;
  border-bottom-color: #ebebeb;
  border-right-color: black;
  border-top-color: black;
  background-color: #939393;
}

.operation{
  border-style: solid;
  border-width: 2px;
  border-radius: 3px;
  border-left-color: black;
  border-bottom-color: black;
  border-right-color: #efeeee;
  border-top-color: #efeeee;

  color: #000000;
  background-color: #b4aca6;
  padding: 10px 10px 10px 10px;
  height: 100%;
  text-decoration: none;
  cursor:pointer;
}

#clear, #getBalance, #deposit, #withdraw {
  width: 90px;
}

td {
  width: 53px;
  height: 52px;
}

.blank {
  padding: 0px;
  box-shadow: none;
  background-color: transparent;
  border-width: 0px;
}

